<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, labore!
        Porro eaque necessitatibus quibusdam laudantium magnam voluptatum omnis,
        debitis soluta.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, labore!
        Porro eaque necessitatibus quibusdam laudantium magnam voluptatum omnis,
        debitis soluta.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, labore!
        Porro eaque necessitatibus quibusdam laudantium magnam voluptatum omnis,
        debitis soluta.
      </p>

      <%-include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
